# Clerk (https://dashboard.clerk.com/last-active?path=api-keys)
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Convex
# Convex deployment name
CONVEX_DEPLOYMENT=
# Convex deployment URL (required)
VITE_CONVEX_URL=

# Set this on the Convex deployment with:
# bunx --bun convex env set CLERK_JWT_ISSUER_DOMAIN https://your-clerk-domain
CLERK_JWT_ISSUER_DOMAIN=
